.comments-container {
  margin-top: 0.5em;
}

.comment {
  margin-bottom: 0.75em;
  display: flex;
  flex-direction: column;
}

.comments-label {
  color: #65676b;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  padding-left: 0.5em;
  margin-bottom: 1em;
}

.comments-label:hover {
  text-decoration: underline;
}

.comment-top {
  display: flex;
  gap: 0.5em;
  align-items: top;
}

.comment-top span {
  text-transform: capitalize;
}

.comment-top img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.comment-content {
  background-color: #f0f2f5;
  padding: 0.55em 0.85em;
  border-radius: 20px;
  min-width: 150px;
  position: relative;
}

.comment-content span {
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
}

.comment-message {
  font-size: 0.8rem;
  padding-top: 0.2em;
}

.comment-content span:hover {
  text-decoration: underline;
}

.comment-actions {
  padding-left: 3em;
  margin-top: 0.25em;
  width: 150px;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.timestamp-label {
  color: gray;
  font-size: 0.8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.like-label {
  font-size: 0.8rem;
  color: #65676b;
  font-weight: 500;
  cursor: pointer;
  width: 34px;
}

.like-label:hover {
  text-decoration: underline;
}

.comments-like-section {
  position: relative;
  right: 0;
  display: flex;
  justify-content: center;
}

.comments-like-section .expanded-users-liked-list {
  right: -40px;
  margin-top: 0.2em;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.full-date {
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  color: #e4e4e4;
  font-size: 0.75rem;
  padding: 0.5em 0.9em;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  top: 20px;
  z-index: 5;
}

.main-comment-content {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
