.friends-page {
  height: 100vh;
}

.friends-content {
  padding: 3.75em 8em 1em 8em;
}

.friend-requests-section {
  border-bottom: 1.5px solid #d3d3d3;
  padding: 2em 1.5em;
}

.friend-cards {
  padding: 2em 1.5em;
}

.friend-request-header,
.friend-list-header {
  font-size: 1.25rem;
  font-weight: 600;
}

.request-cards-container {
  margin-top: 1.5em;
}

.no-requests-label {
  font-size: 0.87rem;
}
