* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  margin: 0;
  background: #f0f2f5;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 700px) {
  ::-webkit-scrollbar {
    width: 0 !important;
  }
}

.body-disabled-scroll {
  overflow: hidden;
}

.body-disabled-scroll .container-nav {
  opacity: 0.5;
}

.shadow-div {
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
}

.modal {
  width: 100%;
}

.close-icon {
  height: 25px;
  cursor: pointer;
}

.container-nav {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
}

.post-loader-spinner {
  border: 5px solid rgba(0, 0, 0, 0.3);
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 5s linear infinite;
  margin: 0 auto;
  margin-top: 180px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
