* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  margin: 0;
  background: #f0f2f5;
  overflow-y: scroll;
}

.body-disabled-scroll {
  overflow: hidden;
}

.body-disabled-scroll .container-nav {
  opacity: 0.5;
}

.shadow-div {
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
}

.modal {
  width: 100%;
}

.close-icon {
  height: 25px;
  cursor: pointer;
}

.container-nav {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
}

.loader-spinner {
  border: 6.5px solid rgba(0, 0, 0, 0.3);
  border-top: 6.5px solid #3498db;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  animation: spin 3s linear infinite;
  margin-top: 25px;
}

.post-loader-spinner {
  margin: 1em auto;
}

.pfp-loader-spinner {
  width: 175px;
  height: 175px;
  margin: 0;
  background: white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
