.home {
  padding: 0 0.55em;
}

h3 {
  margin: 1em 0;
  padding: 0 0.5em;
  color: #65676b;
  font-size: 1rem;
  letter-spacing: 0.2px;
  font-weight: 650;
}

.home-left {
  width: 23.5%;
  position: fixed;
  top: 4.2em;
  height: calc(100vh - 4.8em);
  padding: 0.7em 0 0 0;
}

.home-left:hover {
  overflow-y: scroll;
}

@media screen and (max-width: 1195px) {
  .home-left {
    display: none;
  }
}
