.home {
  padding: 0 0.55em;
  display: flex;
  justify-content: space-between;
}

.home-backdrop {
  opacity: 0.5;
  position: relative;
  z-index: -1;
}

.post-modal-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h3 {
  margin: 1em 0 0.7em;
  padding-left: 0.35em;
  color: #65676b;
  font-size: 1rem;
  font-weight: 600;
}

.home-left {
  position: sticky;
  top: 68px;
  height: calc(100vh - 68px);
  min-width: 240px;
  width: 320px;
  overflow-y: hidden;
  padding: 0.75em 0 0 0;
}

.home-left:hover,
.home-right:hover {
  overflow-y: scroll;
}

.home-middle {
  min-width: 680px;
  padding: 1.95em 1.35em 0;
  flex: 1;
  margin-top: 3.75em;
}

.home-right {
  min-width: 240px;
  width: 360px;
  padding: 1.3em 0 0;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow-y: hidden;
}

.friends {
  margin-top: 0.6em;
}

.home-right span {
  color: #65676b;
  font-weight: 600;
  padding-left: 0.5em;
}

.home-right::-webkit-scrollbar,
.home-left::-webkit-scrollbar {
  width: 7px;
}

.home-right::-webkit-scrollbar-thumb,
.home-left::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.175);
  border-radius: 8px;
}

@media screen and (max-width: 1195px) {
  .home-left {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .home-right {
    display: none;
  }

  .home-middle {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .home-middle {
    min-width: 460px;
  }

  .home-right {
    min-width: 200px;
    width: 220px;
  }
}

@media screen and (max-width: 500px) {
  .home {
    padding: 0;
  }

  .home-middle {
    min-width: 0;
    width: 100%;
    padding: 2em 0 0;
  }
}

@media screen and (min-width: 1330px) {
  .home-middle {
    flex: 0;
  }
}
