.landing-section-modal {
  opacity: 0.3;
  position: relative;
  z-index: -1;
}

.site-info {
  text-align: center;
  margin-bottom: 1.5em;
  padding: 0 1.2em;
}

.site-info h1 {
  background: linear-gradient(to right, #013242, #1e637e, #add8e6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  margin-bottom: 0.2em;
}

.site-info p {
  font-weight: 500;
  font-size: 1.4rem;
}

.site-info p {
  margin: 0;
}

.auth-form {
  background: white;
  padding: 1.25em;
  width: 100%;
  max-width: 410px;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.auth-form form {
  display: flex;
  flex-direction: column;
}

.auth-form fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.auth-col {
  margin: 0.5em 0;
}

.auth-form form input,
.register-form input {
  padding: 0.85em;
  font-size: 1rem;
  border: 1px solid #d3d3d3;
  border-radius: 0.3rem;
  font-weight: 200;
  letter-spacing: 0.005rem;
}

.auth-form form input::placeholder,
.register-form input::placeholder {
  color: #aca4a4;
  font-size: 1rem;
}

.login-btn,
.demo-btn {
  border: none;
  color: white;
  font-size: 1.1rem;
  padding: 0.55em;
  border-radius: 0.35rem;
  cursor: pointer;
  margin-bottom: 0.25em;
}

.login-btn {
  background: #1877f2;
}

.demo-btn {
  background: #282e35;
}

.register-btn-container {
  margin-top: 1em;
  border-top: 1px solid #d3d3d3;
  display: flex;
  justify-content: center;
}

.register-btn-container button {
  margin-top: 1.25em;
  border: none;
  background: #282e35;
  color: white;
  padding: 0.75em 1em;
  font-size: 1rem;
  border-radius: 0.35rem;
  cursor: pointer;
}

.auth-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 410px;
}

.register-form {
  padding: 0.75em;
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
}

.register-form input {
  margin: 0.35em 0;
  background: #f5f6f7;
  padding: 0.65em 0.85em;
}

.register-form button {
  width: 50%;
  margin: 1em auto;
  background: #48515a;
  border: none;
  color: white;
  font-weight: 700;
  padding: 0.35em;
  cursor: pointer;
  border-radius: 0.25em;
  font-size: 1.1rem;
}

.register-form div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .landing-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 7em 0;
  }

  .site-info {
    text-align: left;
    padding: 0;
    margin: 0 4em;
  }

  .site-info p {
    max-width: 490px;
  }

  .auth-form {
    margin: 0;
  }

  .register-form div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .register-form div input {
    width: 48.5%;
  }

  .register-form {
    margin-bottom: 0;
  }
}
