.post-card {
  background: white;
  margin-bottom: 1em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.263);
  border-radius: 0.5em;
  flex-direction: column;
}

.post-top-container {
  padding: 0.75em 1em 0 1em;
}

.post-bottom-container {
  padding: 0.75em 1em 0.65em 1em;
}

.bottom-no-padding {
  padding: 0.75em 1em 0.15em 1em;
}

.bottom-post-border {
  border-top: 1px solid #d3d3d3;
}

.post-author-name {
  text-transform: capitalize;
}

.author-post-profile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.75em;
}

.author-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-info {
  display: flex;
  align-items: center;
}

.author-info div {
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
}

.timestamp-container span:hover {
  text-decoration: underline;
}

.post-timestamp-container {
  position: relative;
}

.post-full-date {
  position: absolute;
  color: #e4e4e4;
  padding: 0.5em 0.9em;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  white-space: nowrap;
  overflow: hidden;
  top: 20px;
  left: -63px;
}

.post-full-date div {
  font-size: 0.75rem;
  font-weight: 400;
}

.post-timestamp-container span {
  color: gray;
  font-size: 0.75rem;
  font-weight: 375;
  cursor: text;
}

.post-message {
  font-size: 0.85rem;
  line-height: 20px;
  margin-top: 0.75em;
}

.post-img {
  width: 100%;
  margin-top: 0.75em;
  object-fit: contain;
  max-height: 450px;
  background: #d3d3d3;
  margin-bottom: -0.2em;
}

.post-actions-container {
  border-top: 1px solid #d3d3d3;
  height: 45px;
  padding: 0 0.25em 0 0.25em;
}

.users-liked-list {
  display: flex;
  align-items: center;
}

.white-like-bg {
  background: linear-gradient(#70a3e7, #0061e0);
  height: 21px;
  width: 21px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.white-like-bg img {
  height: 13px;
}

.list {
  text-transform: capitalize;
  color: #65676b;
  font-size: 0.85rem;
  cursor: pointer;
  flex: 1;
  margin-left: 0.5em;
}

.list span {
  text-transform: lowercase;
}

.users-liked-list-container {
  cursor: pointer;
}

.list-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  justify-content: center;
}

#like-btn {
  transition: all ease-in-out 5s;
}

.post-labels-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 1em 0 1em;
}

.post-comments-label {
  color: #65676b;
  font-size: 0.9rem;
  cursor: pointer;
}

.post-comments-label:hover,
.view-previous:hover {
  text-decoration: underline;
}

.view-previous {
  color: #65676b;
  font-weight: 550;
  font-size: 0.87rem;
  margin-bottom: 1em;
  cursor: pointer;
}
