.user-options-container {
  position: absolute;
  top: 4em;
  right: 1em;
}

.options-container {
  background: white;
  padding: 0.2em 0;
  border-radius: 0.5em;
  width: 360px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.282);
}

@media screen and (max-width: 700px) {
  .options-container {
    width: 240px;
  }
}

.profile-card-box {
  display: flex;
  align-items: center;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.18);
  border-radius: 0.5em;
  padding: 0.75em;
  cursor: pointer;
  margin: 10px 14px;
}

.profile-card-box > div {
  font-weight: 600;
  font-size: 0.9rem;
  margin-left: 0.65em;
  text-transform: capitalize;
}

.logout-container {
  margin-top: 1em;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 0.5em;
  padding: 6px 8px;
  margin: 4px 8px 8px;
}

.logout-container:hover,
.profile-card-box:hover {
  background: rgb(241, 240, 240);
}

.logout-container span {
  margin-left: 0.65em;
  font-size: 0.9rem;
}

.logout-icon {
  background: #e4e6eb;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
