.user-profile-page {
  padding-top: 3em;
  height: 100vh;
}

.profile-banner {
  background: white;
  width: 100%;
  padding: 0 4em;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 1050px) {
  .profile-banner {
    padding: 0;
  }
}
