.user-profile-page {
  padding-top: 3em;
}

.profile-banner {
  background: white;
  width: 100%;
  height: 680px;
  padding: 0 4em;
}

@media screen and (max-width: 500px) {
  .profile-banner {
    padding: 0;
  }
}
