.user-card {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.35em 0.5em;
  border-radius: 0.5em;
  margin-right: 2em;
  gap: 0.5em;
}

.user-card:hover {
  background: rgb(231, 231, 231);
}

.user-card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-card div {
  letter-spacing: -0.01em;
  font-size: 0.85rem;
  font-weight: 450;
  text-transform: capitalize;
}

.loggedin-user {
  padding-top: 0;
}
